.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    padding: 0 5vw;
    background: rgb(118, 118, 174);

    div{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    a{
        color: #fff;
    }
}